html{
    background-image: url("pic.jpeg");
    background-size: cover;
    text-align: center;
    font-family: 'Gruppo', cursive;
    font-size: 1.7em;
}
body{
    max-width: 900px;
    margin:auto;
}

nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    position: fixed;
    left:0;
    top:0
}


table{
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   width: 80%;
   
}

#gefalleneWürfel{
    font-size: 2em;
    background-color: white;
    color: black;
}

#Wurf{
   font-size: 2em;
   width: 20%;
}

#ergebnisliste{
    width: 100%;
    margin-top: 20%;
}

#top .hide{
    display: none;
}

@media screen and (max-width:700px){
    .hide{
        display: none;
    }
    nav{
        display:block;
    }
    table{
        width: 100%;
    }
    #Wurf{
        width: 100%;
    }
}
